body {
  padding: 65px 0 0 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: underline;
  color: blue;
}
a:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
}

.mainContainer {
  display: grid;
  background-image: url("C:\Users\sofia\OneDrive\Desktop\medical-records\medical-records\images\stethoscope-copy-space.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  min-height: 100vh;
  padding: 10px;
  color: rgb(2, 2, 60);
}

.profileInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 33%;
}

.inputField {
  border-radius: 4px;
  margin-left: 10px;
  height: 25px;
  border: 1px solid gray;
}

.inputField:focus {
  outline: none;
}

.roleSelect {
  margin-right: 45px;
  border-radius: 4px;
  outline: none;
  border: 1px solid gray;
  width: 120px;
  height: 25px;
}

/*footer*/
.footer {
  justify-self: end;
  position: fixed;
  color: #636363;
  bottom: 0;
  right: 0;
  border-top: 1px solid #636363;
  width: 100vw;
  font-size: small;
  background-color: beige;
  text-align: center;
}

/*user profile*/
.tbl-content {
  max-height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.patientSearch {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background-color: rgba(241, 243, 244, 0.7);
  border-radius: 5px;
  border: solid 1px rgb(2, 2, 60);
  width: 60%;
  padding-bottom: 10px;
  margin-left: 280px;
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  color: #353535;
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  color: #353535;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  background-color: #cadcee;
}

table {
  width: 60%;
  table-layout: fixed;
  border: 0;
  border-collapse: collapse;
  text-align: center;
}
/*rgba(40, 107, 138, 255)*/
.tbl-header {
  background-color: rgb(2, 2, 60);
  color: /*#232323*/ beige;
}

.lastCell {
  width: 80px;
}

.table {
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.viewBtn {
  width: 70px;
  height: 25px;
  border-radius: 5px;
  background: none;
  border: 2px solid rgba(40, 107, 138, 255);
  color: rgba(40, 107, 138, 255);
}

.viewBtn:hover {
  background: rgba(40, 107, 138, 255);
  color: beige;
  transition: background-color 200ms linear;
}

.searchBtn {
  margin-left: 50px;
  margin-top: 20px;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  background: none;
  border: 2px solid rgb(2, 2, 60);
  color: rgb(2, 2, 60);
  font-size: medium;
}

.searchBtn:hover {
  background: rgb(2, 2, 60);
  color: beige;
  transition: background-color 200ms linear;
}

.headlineInput {
  margin-left: 15px;
}

.welcome {
  margin-top: 30px;
  margin-bottom: 40px;
}

/*new entry*/
.saveBtn {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  background: none;
  border: 2px solid rgb(2, 2, 60);
  color: rgb(2, 2, 60);
  font-size: medium;
  justify-self: left;
  margin-left: 30px;
  margin-bottom: 70px;
  margin-top: 40px;
}

.saveBtn:hover {
  background: rgb(2, 2, 60);
  color: beige;
  transition: background-color 200ms linear;
}

.medicalReport {
  justify-self: center;
  width: 70%;
  height: 140px;
  border-radius: 4px;
  margin-left: 10px;
  border: 1px solid gray;
}

.newContainer {
  display: grid;
  grid-template-columns: 35% 65%;
}

.fitContent {
  width: fit-content;
}

.reportInput {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
}

.medicalReport:focus {
  outline: none;
}

.newEntryTitle {
  margin-top: 40px;
  margin-bottom: 100px;
}

.newEntryText {
  justify-self: left;
  margin-bottom: 40px;
}

.marginLeft {
  margin-left: 30px;
}

.profileInputNew {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 70%;
}

.reportInputNew {
  display: flex;
  align-items: baseline;
}

/*doctor profile*/
.mainDoctorProfile {
  display: grid;
  background-image: url("C:\Users\sofia\OneDrive\Desktop\medical-records\medical-records\images\international-worker-s-day-with-doctor-tools.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 10px;
  color: rgb(2, 2, 60);
}

.searchInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 20px;
}

.requestBtn {
  width: 70px;
  height: 50px;
  border-radius: 5px;
  background: none;
  border: 2px solid rgba(40, 107, 138, 255);
  color: rgba(40, 107, 138, 255);
}

.requestBtn:hover {
  background: rgba(40, 107, 138, 255);
  color: beige;
  transition: background-color 200ms linear;
}

.width140 {
  width: 140px;
}

.securitySearch {
  margin-top: 80px;
  margin-left: 350px;
  padding-bottom: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 50%;
  background-color: rgba(241, 243, 244, 0.7);
  border-radius: 5px;
  border: solid 1px rgb(2, 2, 60);
}

.doctorTable {
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

/*entries for doctor*/
.resultsHeadline {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 80px;
}

.doctorTableEntries {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.exitBtn {
  margin-right: 20px;
  margin-top: 30px;
  font-size: x-large;
  background: none;
  border: none;
  color: rgb(2, 2, 60);
}

.exitBtn:hover {
  cursor: pointer;
  color: beige;
}

/*entry for doctor*/
.entryDetails {
  display: grid;
  justify-content: left;
  text-align: left;
  margin-top: 30px;
}

.editEntry {
  display: flex;
}

.editBtn {
  margin-left: 20px;
  margin-top: 17px;
  font-size: large;
  background: none;
  border: none;
  color: rgb(2, 2, 60);
  align-self: baseline;
}

.editBtn:hover {
  cursor: pointer;
  color: beige;
}

.marginTop {
  margin-top: 10px;
}

.doctorTextarea {
  border-radius: 5px;
  width: 450px;
  height: 200px;
}

.image {
  cursor: pointer;
  width: 50%;
  height: auto;
}

.wholeEntry {
  display: flex;
  justify-content: space-between;
}

.entryHeadline {
  display: grid;
  grid-template-columns: auto auto;
  text-align: end;
}

.entryExitBtn {
  justify-self: end;
}

.entryTitle {
  text-align: end;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

.marginRight {
  margin-right: 100px;
}

/*modal*/
.modal {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 50%;
  position: fixed;
  bottom: 300px;
  left: 430px;
  background-color: beige;
}

.closeBtn {
  align-self: end;
  width: fit-content;
  font-size: large;
  background: none;
  border: none;
}

.closeBtn:hover {
  cursor: pointer;
}

.alignLeft {
  text-align: left;
}

/*entry*/
.marginBottom {
  margin-bottom: 100px;
}

.bold {
  font-weight: bold;
}

input:hover {
  border: solid 1px rgb(2, 2, 60);
}

input:focus {
  border: solid 1px rgb(2, 2, 60);
}
