body {
  padding: 65px 0 0 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: underline;
  color: blue;
}
a:hover {
  cursor: pointer;
}

h1,
p {
  text-align: center;
}

.mainContainer {
  display: grid;
  background-image: url("C:\Users\sofia\OneDrive\Desktop\medical-records\medical-records\images\stethoscope-copy-space.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  min-height: 100vh;
  padding: 10px;
}

.searchBtn {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  background: none;
  border: 2px solid rgb(2, 2, 60);
  color: rgb(2, 2, 60);
  font-size: medium;
}

.searchBtn:hover {
  background: rgb(2, 2, 60);
  color: beige;
  transition: background-color 200ms linear;
}

.profileInput {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inputField {
  border-radius: 4px;
  margin-left: 10px;
  height: 25px;
  border: 1px solid gray;
}

.inputField:focus {
  outline: none;
}

.roleSelect {
  margin-left: 20px;
  border-radius: 4px;
  outline: none;
  border: 1px solid gray;
  width: 80px;
  height: 25px;
}

/*footer*/
.footer {
  justify-self: end;
  position: fixed;
  color: #636363;
  bottom: 0;
  right: 0;
  border-top: 1px solid #636363;
  width: 100vw;
  font-size: small;
  background-color: beige;
}
