body {
  min-height: 100%;
  padding-top: 65px;
}

li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.notificationContainer {
  display: flex;
  padding: 0;
  height: max-content;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(2, 2, 60);
  position: fixed;
  left: 0;
  top: 0;
}

.profileTitle {
  margin-left: 7px;
  justify-self: left;
  color: beige;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  width: max-content;
}
.pulse {
  margin-right: 4px;
  font-size: xx-large;
}

.icon {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  height: 60px;
  background-color: rgb(2, 2, 60);
}

.bell {
  font-size: xx-large;
  color: beige;
}

.bell:hover {
  cursor: pointer;
}

.notificationBtn {
  background-color: rgb(2, 2, 60);
  border-radius: 50%;
  margin-right: 25px;
  border: none;
  margin-top: 6px;
  margin-bottom: 6px;
}

.number {
  z-index: 2;
  position: fixed;
  top: 33px;
  right: 54px;
  padding: 1px 5px;
  border-radius: 50%;
  background: red;
  color: white;
  margin-right: 28px;
  font-size: small;
}

.number:hover {
  cursor: pointer;
}

.msgs {
  position: absolute;
  right: 0%;
  top: 46px;
  margin-right: 6px;
  border: none;
}

.messageBox {
  background-color: beige;
  border: 1px solid black;
  padding: 10px;
  width: 500px;
  height: 50px;
  border-radius: 7px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.acceptBtn {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background: none;
  border: 2px solid darkgreen;
  color: darkgreen;
}

.acceptBtn:hover {
  color: beige;
  background: darkgreen;
}

.check {
  font-size: xx-large;
  color: darkgreen;
}

.menu {
  margin-right: 15px;
  color: beige;
  background-color: rgb(2, 2, 60);
  border: none;
  font-size: 30px;
  margin-top: 8px;
}
.menu:hover {
  cursor: pointer;
}

.heading {
  color: beige;
  justify-self: left;
}

.dropdownMenu {
  background-color: beige;
  text-align: center;
  padding: 15px 10px;
  border-radius: 2px 2px 7px 7px;
  border: 1px solid rgb(2, 2, 60);
}

.menuLink {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.gray:hover {
  color: rgb(147, 146, 146);
  cursor: pointer;
}
