li {
  list-style: none;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.notificationContainer {
  display: grid;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  justify-content: end;
  background-color: rgb(35, 35, 82);
}

.icon {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  height: 60px;
  background-color: rgb(35, 35, 82);
  min-width: 100vw;
}

.bell {
  font-size: xx-large;
  color: beige;
}

.notificationBtn {
  background-color: rgb(35, 35, 82);
  border-radius: 50%;
  margin-right: 25px;
  border: 2px solid beige;
  z-index: 1;
  margin-top: 6px;
  margin-bottom: 6px;
}

.number {
  z-index: 2;
  position: fixed;
  top: 27px;
  right: 50px;
  padding: 1px 7px;
  border-radius: 50%;
  background: red;
  color: white;
  margin-right: 28px;
}

.msgs {
  position: absolute;
  right: 0%;
  top: 46px;
  margin-right: 6px;
}

.menu {
  margin-right: 15px;
  color: beige;
  background-color: rgb(35, 35, 82);
  border: none;
  font-size: 40px;
  margin-top: 8px;
}

.heading {
  color: beige;
  justify-self: left;
}
